<% layout("/layouts/boilerplate") %>
<div class="row">
    <div class="col-8 offset-2">
        <br> <br>
        <h3>Create a New Listing</h3>
        <form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="listing[title]" placeholder="Add a catchy title" class="form-control" required>
                <div class="valid-feedback">Title looks good!</div>
                <div class="invalid-feedback">Title should be valid</div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="listing[description]" placeholder="enter description" class="form-control" required></textarea>
                <div class="valid-feedback">Description looks good!</div>
                <div class="invalid-feedback">Description should be valid</div>
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Upload Image</label>
                <input type="file" name="listing[image]" placeholder="enter URL/Link" class="form-control" required>
            </div>

            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" name="listing[price]" placeholder="1200" class="form-control" required>
                    <div class="valid-feedback">Price looks good!</div>
                    <div class="invalid-feedback">Price should be valid</div>
                </div>

                <div class="mb-3 col-md-8"> 
                    <label for="country" class="form-label">Country</label>
                    <input type="text" name="listing[country]" placeholder="India" class="form-control" required>
                    <div class="valid-feedback">Country looks good!</div>
                    <div class="invalid-feedback">Country should be valid</div>
                </div>

            </div>
            

            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" name="listing[location]" placeholder="Chennai, Tamil Nadu" class="form-control" required>
                <div class="valid-feedback">Location looks good!</div>
                <div class="invalid-feedback">Location should be valid</div>
            </div>

            
            <div class="mb-3">
                <label class="form-label">Categories</label>
                <div class="d-flex flex-wrap">
                    <div class="form-check me-3">
                        <input class="form-check-input" type="checkbox" name="listing[categories][]" value="trending" id="trending">
                        <label class="form-check-label" for="trending">Trending</label>
                    </div>
                    <div class="form-check me-3">
                        <input class="form-check-input" type="checkbox" name="listing[categories][]" value="rooms" id="rooms">
                        <label class="form-check-label" for="rooms">Rooms</label>
                    </div>
                    <div class="form-check me-3">
                        <input class="form-check-input" type="checkbox" name="listing[categories][]" value="cities" id="cities">
                        <label class="form-check-label" for="cities">Cities</label>
                    </div>
                    <div class="form-check me-3">
                        <input class="form-check-input" type="checkbox" name="listing[categories][]" value="castles" id="castles">
                        <label class="form-check-label" for="castles">Castles</label>
                    </div>
                    <div class="form-check me-3">
                        <input class="form-check-input" type="checkbox" name="listing[categories][]" value="pools" id="pools">
                        <label class="form-check-label" for="pools">Pools</label>
                    </div>
                    <div class="form-check me-3">
                        <input class="form-check-input" type="checkbox" name="listing[categories][]" value="camp" id="camp">
                        <label class="form-check-label" for="camp">Camp</label>
                    </div>
                    <div class="form-check me-3">
                        <input class="form-check-input" type="checkbox" name="listing[categories][]" value="farms" id="farms">
                        <label class="form-check-label" for="farms">Farms</label>
                    </div>
                    <div class="form-check me-3">
                        <input class="form-check-input" type="checkbox" name="listing[categories][]" value="arctic" id="arctic">
                        <label class="form-check-label" for="arctic">Arctic</label>
                    </div>
                    <div class="form-check me-3">
                        <input class="form-check-input" type="checkbox" name="listing[categories][]" value="domes" id="domes">
                        <label class="form-check-label" for="domes">Domes</label>
                    </div>
                    <div class="form-check me-3">
                        <input class="form-check-input" type="checkbox" name="listing[categories][]" value="boats" id="boats">
                        <label class="form-check-label" for="boats">Boats</label>
                    </div>
                </div>
            </div>

            <br>
            <button class="btn btn-dark add-btn">Add</button>
            <br> <br>
        </form>
    </div>
</div>